# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Sam Su
# Change to work email if used at work
email = samsu42@yahoo.ca
[core]
# use vim as default commit editor. Can be changed later though.
editor = vim
