package-lock.json
zed/zed/*
!zed/zed/settings.json
.DS_Store
lazy-lock.json
lazyvim.json
lazygit/lazygit/config.yml
.vscode
*.yazi
*.bak
nvim/neovim
lazygit/lazygit/state.yml
emacs/.emacs.d/*
!emacs/.emacs.d/init.el
!emacs/.emacs.d/early-init.el
!emacs/.emacs.d/custom.el
